####### EXPORTED OBJECTS ###
export( generate8chain,
        print8chain,
        check8chain,
        topo4chain,
        state4chain,
        marginal4chain,
        chain2nbn,
        chain2gema,
        chain2cor,
        chain2mn,
        chain2pre,
        inout4chain,
        rev8chain,
        nbn7chain9,
        nbn2chain,
        crossed4nbn1nbn,
        arcs4nbn1nbn,
        adja2crossed,
        generate8grid7crossed,
        bnfit2nbn,
        bn2nbn,
        nbn2bnfit,
        bn7nb,
        adja4three,
        adja2arcs,
        dissim4adja,
        nbn2pam,
        nbn2gema,
        gema2nbn,
        gema2mn,
        mn2gema,
        nbn2nbn,
        rmatrix4nbn,
        nbn4rmatrix,
        nbn2rr,
        nbn2mn,
        topo4nbn,
        normalize8nbn,
        nbn4nbn,
        adja4nbn,
        adja2nbn,
        rm8nd4adja,
        generate8nbn,
        arc7nb4nbn,
        topo9,
        check8nbn,
        print8nbn,
        print8gema,
        check8gema,
        simulate8gema,
        simulate8nbn,
        string7dag4nbn,
        diff8nbn,
        estimate8nbn,
        estimate8arcs,
        estimate8constrained7nbn,
        check8mn,
        cor4var,
        var2pre,
        condi4joint,
        mn4joint1condi,
        simulate8mn,
        simulate8gmn,
        print8mn,
        dev4mn,
        rbmn0,
        complete8rbmn0,
        read8nbn,
        write8nbn,
        read8chain,
        write8chain,
        sssform3title,
        sssform3display,
        ssspause,
        sssform3title,
        create8star);
