####### EXPORTED OBJECTS ###
export( file2text,
        file2text,
        text2file,
        text2list,
        text2list,
        list2text,
        text2vma,
        text2vma,
        vma2text,
        file2list,
        file2list,
        list2file,
        ijk2n,
        ijk2n,
        n2ijk,
        bc,
        bc,
        bd,
        bf,
        open8graph,
        open8graph,
        close8graph,
        open8text,
        close8text,
        rbsa0,
        display8k,
        void9,
        erreur,
        object9,
        pause,
        now,
        pprint,
        posi9,
        source8file,
        belong9,
        filter8text,
        dipa,
        fidi9,
        form3join,
        form3split,
        form3justify,
        form3repeat,
        form3frame,
        form3crop,
        form3indent,
        form3names,
        form3numbering,
        form3line,
        form3title,
        form3parag,
        form3display,
        name8list,
        read8list,
        rbsa7list9,
        intersect8interv,
        interv7belonging,
        solve8quadratic,
        inquiry,
        df4kbd,
        relpath,
        list4text,
        text3stext,
        text3places8word,
        text3brackets,
        parse8text,
        places4text6tags,
        texts4text,
        text3preparation,
        text3translate,
        text3acceptance,
        text3replace,
        text3ij2n,
        text3ij2n,
        text3n2ij);
